body {
  padding: 0;
  margin: 0;
}

.content {
  width: 100vw;
  height: 100vh;
}

.mapContainer {
  min-width: 100%;
  min-height: 100%;
}

.mapboxgl-popup {
  max-width: 600px!important;
  height: 600px;
  font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}